<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore>
		<mvc>
			<precompilation>
				<assemblies>
					<assemblyIdentity name="ThemeSwitcher" />
				</assemblies>
			</precompilation>
		</mvc>

		<services>
			<register serviceType="Sitecore.XA.Foundation.Theming.IThemingContext, Sitecore.XA.Foundation.Theming"
					  implementationType="ThemeSwitcher.CustomThemingContext, ThemeSwitcher"
					  lifetime="Singleton"
					  patch:instead="*[@implementationType='Sitecore.XA.Foundation.Theming.ThemingContext, Sitecore.XA.Foundation.Theming']"/>
		</services>
	</sitecore>
</configuration>